body {
  /* background: linear-gradient(180deg, rgba(233,233,233,1) 5%, rgba(0,149,255,1) 100%); */
  background-image: radial-gradient(311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
  text-align: center;
  height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#startPageHeader .logo {
  height: 20vh;
}

#startPageHeader h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 7vh;
  margin: 3vh;
}

#startPageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.front-page-button {
  background-color: rgb(234, 245, 255);
  color:  #5d626a;
  font-size: 2.3vh;
  width: 95vw;
  padding: 13px;
  border-radius: 8px;
  margin: 0.4vh;
  border: 1px solid darkgrey;
}
