* {
  font-family: Helvetica;
}

#loginPageHeader .logo {
  height: 15vh;
  margin-top: 10vh;
}

#loginPageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginField {
  position: relative;
  margin-top: 20px;
}

.loginField input {
  width: 80vw;
  padding: 15px;
  border-radius: 13px;
  border: 1px solid #a2a2a2;
  background-color: #ffffffc9;
  outline: none;
  margin-bottom: 15px;
}

.loginButton {
  background-color: rgba(142, 142, 142, 0.68);
  color: #fffc;
  font-size: 2.1vh;
  width: 100%;
  margin: 20px 0 5px 0;
  border-radius: 7px;
  border: 1px solid darkgrey;
  height: 7vh;
  font-weight: bold;
}

.goToRegister {
  color: #ffffffe0;
  background-color: rgba(142, 142, 142, 0.8);
  border: 1px solid darkgrey;
  border: none;
  font-size: 1.9vh;
  padding: 1.8vh;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  bottom: -8vh;
  right: 7vw;
}

.loginKindWords {
  background-color: rgba(255, 255, 255, 0.47);
  color: #686868c9;
  padding: 2vw;
  line-height: 3vh;
  border-radius: 5px;
  width: 83vw;
}
