@media (min-width: 320px) and (max-width: 480px) {
  * {
    font-family: Helvetica;
  }

  #loginPageHeader {
    height: 30vh;
  }

  #loginPageHeader .logo {
    height: 20vh;
  }

  #loginPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginField {
    position: relative;
    margin-top: 20px;
  }

  .loginField input {
    width: 80vw;
    padding: 15px;
    border-radius: 13px;
    border: 1px solid #a2a2a2;
    background-color: #ffffffc9;
    outline: none;
    margin-bottom: 15px;
}
/*
  .login-form input {
    margin: 2vw;
    margin-left: 0;
    width: 100%;
    height: 4vh;
    border: 1px solid gray;
    border-radius: 5px;
  }*/

  .loginButton {
    background-color: rgba(142, 142, 142, 0.68);
    color: #fffc;
    font-size: 2vh;
    width: 100%;
    margin: 10px 0 5px 0;
    border-radius: 7px;
    border: 1px solid darkgrey;
    height: 7vh;
    font-weight: bold;
  }

  .loading {
    height: 4vh;
  }

  .goToRegister {
    color: #ffffffe0;
    background-color: rgba(142, 142, 142, 0.8);
    border: 1px solid darkgrey;
    border: none;
    text-align: right;
    font-size: 1.9vh;
    padding: 1.2vh;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    bottom: -14px;
    right: -6px;
  }

  .loginKindWords {
    background-color: rgba(240, 240, 240, 0.37);
    color: #ffffffc9;
    padding: 4vw;
    line-height: 3vh;
    border-radius: 5px;
    margin: 8vh 0 0 0;
    width: 85vw;
  }

}