body{
    height: 100vh;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    height: 30vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 400px;
}

input{
    width: 400px;
}

#profilePicture {
    display: flex;
    flex-direction: column;
}
img {
    border-radius: 54%;
    border: 5px solid rgb(98, 168, 230);
    overflow: hidden;
    height: 250px;
}
#imageMessage {
    text-align: center;
    font-size: 20px;
}

#bio{
    width: 380px;
}

#interestsList{
    height: 200px;
    overflow: scroll;
    width: 380px;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    gap: 10px;
    box-sizing: content-box;
    border: 1px solid gray;
    border-radius: 20px;

}

#interestsList > input[type="checkbox"] + label{
    width: auto;
    display: inline-block;
    vertical-align: middle;
       vertical-align: middle;
    display: inline-block;
    width: auto;
    text-align: center;
    padding:10px;
    gap: 10px;
    height: 20px;
    background-color: #eee;

}

#pageNavigation{
    display: flex;
    justify-content: space-between;
}
