#registerPageHeader .logo {
    height: 20vh;
}

#registerPageHeader h1 {
    display: none;
}

#registerPageMain {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox {
    position: relative;
    margin-top: 20px;
}

.inputbox input {
    width: 80vw;
    padding: 15px;
    border-radius: 13px;
    border: 1px solid #a2a2a2;
    background-color: #e8e8e8ed;
    outline: none;
}

.inputbox label {
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #686868;
    padding: 15px;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input:valid ~ label,
.inputbox input:focus ~ label {
    transform: translateX(10px) translateY(-12px);
    font-size: 12px;
    padding: 0 10px;
}

.inputbox input:valid,
.inputbox input:focus {
    border: 3px solid #469dff;
}

.cityGenderAge {
    color: #686868;
    width: 80vw;
    margin-top: 20px;
    padding: 28px 15px;
    border-radius: 13px;
    border: 1px solid #a2a2a2;
    background-color: #ffffffa1;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    gap: 12px;
    flex-direction: column;
}

.cityGenderAge input,
.cityGenderAge select {
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

.cityGenderAge input:first-child {
    width: 100%;
    margin-left: 25px;
}

.cityGenderAge select {
    width: 100%;
    display: flex;
    align-self: center;
}

.cityGenderAge label {
    display: flex;
    gap: 5px;
}

.city {
    margin-left: 26px;
}

#pageNavigation {
    display: flex;
    height: 6vh;
    width: 80%;
    gap: 1vw;
    margin: 0 auto;
}

#pageNavigation button {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #6c6c6c;
    color: #5d626a;
}

#notAnswered {
    border: 1px solid red;
}
/*
input{
    width: 80vw;
    height: 5vh;
    border-radius: 13px;
    border: 1px solid #a2a2a2;
    background-color: #ffffffa1;
}

label {
    margin-top: 2vh;
    font-size: 15px;
}
*/
#registerPageMain > form input {
    width: 50vw;
}

#userImage {
    background-image: url(../PHP/DB/image/blank-profile-picture.webp);
    height: 40vh;
    width: 65vw;
    border-radius: 8px;
    border: 2px solid white;
    background-position: center;
    background-size: cover;
}

#userImage img {
    height: 40vh;
    width: 65vw;
    border-radius: 8px;
    border: 2px solid white;
    object-fit: cover;
}

#profilePicture {
    margin-top: 2vh;
}

#imageMessage {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#registerBio {
    width: 88vw;
    border-radius: 5px;
    border: 2px;
    outline: none;
    height: 12vh;
    background-color: #ffffffa1;
}

#registerBio:focus {
    border: 3px solid #469dff;
}

#registerPageMain p {
    margin: 23px 0 5px 0;
}

#interestsList {
    height: 18vh;
    width: 85vw;
    box-sizing: content-box;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: scroll;
    background-color: #ffffff54
}

.contact-methods {
    display: flex;
    gap: 5px;
}

.contact-methods input {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid gray;
}

.contact-methods input:focus {
    border: 2px solid #3593ff;
}

#interestsList > div {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

#interestsList input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

#interestsList label {
  font-size: 16px;
  max-width: 100%;
}

#registerPageMain > p:nth-child(8) {
    background-color: #ffffff4d;
    border-radius: 5px;
    height: 10vh;
    padding: 2vh;
}

#lookingFor {
    background-color: #ffffffa1;
    height: 30vh;
    width: 70vw;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#lookingFor select {
    margin-top: 20px;
    margin-bottom: 40px;
}

.preferredAge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.preferredAge input[name="ageOfMin"],
.preferredAge input[name="ageOfMax"] {
    width: 15vw;
    border-radius: 3px;
    border: 1px solid gray;
    outline: none;
}

.preferredAge input[name="ageOfMin"]:focus,
.preferredAge input[name="ageOfMax"]:focus {
    border: 2px solid #469dff;
}
