body{
    height: 100vh;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    height: 20vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    width: 400px;
}

input{
    width: 400px;
}

#minMax{
    display: flex;
    width: 400px;
    height: 100px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
}

#tracker{
    position: absolute;
    top: 42px;
    left: 30px;
    height: 2px;
    width: 300px;
    background-color: gray;
}


input[type="range"]{
    position: absolute;
    top: 40px;
    left: 30px; 
    width: 300px;
    height: 5px;
    appearance: none;
    background: none;
}

input[type="range"]::-moz-range-thumb{ /*moz funkar för firefox endast, måste kolla upp vad som behövs för att få det att funka på android/apple/andra webbläsare */
    pointer-events: auto;   
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}


.notAnswered{
    border: 1px solid red;
}

#profilePicture {
    display: flex;
    flex-direction: column;
}
img {
    border-radius: 54%;
    border: 5px solid rgb(98, 168, 230);
    overflow: hidden;
    height: 250px;
}
#imageMessage {
    text-align: center;
    font-size: 20px;
}