#after-login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dateTitle {
  font-family: Helvetica;
}

#date-header {
  display: flex;
  justify-content: space-between;
  margin: 3vh;
  height: 40px;
}

#date-main {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}

#date-logo {
  height: 35px;
}

.current-page {
  color: white;
  font-weight: bold;
  background-color: #b8d3ff;
}
