#explore-main {
    position: relative;
}

.explore-logo {
    width: 10vh;
    margin: 3vh 0 2vh;
}

.header-logo {
    display: flex;
    justify-content: flex-end;
}

#bio{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

#interestsBox{
    display: flex;
}

#interestsBox > div {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
}

#potentialMatch {
    /* position: relative; */
}

#potentialMatchPicIndo {

}

#potentialMatchPic {
    border-radius: 2px;
    border: 2px solid white;
    height: 56vh;
}

#potentialMatchInfo {
    font-weight: bold;
    display: flex;
    height: 4vh;
    width: 100%;
    position: absolute;
    bottom: 7vh;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

#potentialMatchInfo button {
    width: 20vw;
}

#matchButtons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 30vh;
}

#matchButtons button{
    width: 10vw;
}

#match, #noMatch {
align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-transform: uppercase;

}
