#explore-main {
    margin-top: 3vh;
    position: relative;
}

.header-logo {
    display: flex;
    justify-content: flex-end;
}

#bio {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

#potentialMatchPic {
    border-radius: 16px;
    border: 2px solid white;
    height: 68vh;
    object-fit: cover;
    max-width: 90%;
}

#potentialMatchInfo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    height: 7vh;
    width: 72%;
    left: 8vh;
    bottom: 1px;
    position: absolute;
    bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-around;
    align-items: center;
    border-radius: 56px;
}

#matchButtons{
    position: absolute;
    top: 40%;
    left: 12px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#matchButtons button{
    width: 10vw;
}

#match, #noMatch {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-transform: uppercase;
}

#match {
    width: 60px;
    height: 120px;
    border-radius: 0 12rem 12rem 0;
}

#noMatch {
    width: 60px;
    height: 120px;
    border-radius: 12rem 0 0 12rem;
}

#noPotentialMatch {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

.explore-profile-image {
    border-radius: 50%;
    border: 2px solid white;
    height: 30vh;
}

.profile-pop {
    height: 93vh;
    width: 89vw;
    /* position: absolute; */
    top: -8vh;
    left: 2vh;
    border-radius: 14px;
    z-index: 1;
    border: 9px dotted blanchedalmond;
    position: absolute;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}

.black-cross {
    position: absolute;
    width: 1.5vh;
    height: 2vh;
    top: 2vh;
    right: 5vw;
}

.explore-bio {
    border-radius: 5px;
    padding: 10px;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.6);
}

.explore-interests-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 4px;
}

.explore-interests-boxes li {
    background-color: mediumslateblue;
    color: white;
    padding: 1vh;
    border-radius: 5px;
}
