body {
  position: relative;
}

.profile-page-container {
  height: 76vh;
  overflow-y: auto;
  padding: 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile top */
.profile-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-picture {
  object-fit: cover;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
}

.user-name {
  font-size: 4vh;
  margin: 2vh 0 0 0;
}

/* Profile main */
.profile-main {
  text-align: left;
}

.title {
  margin-bottom: -5px;
  margin-left: 2px;
}

.category {
  background-color: #fffbff;
  border: 4px solid #cfd4ff;
  border-radius: 21px;
  padding: 10px;
  margin: 2vh 0;
  gap: 1vh;
  display: flex;
  flex-direction: column;
}

/* About me */
.telephone-number,
.facebook,
.instagram,
.age-min,
.age-max {
  display: flex;
  margin-bottom: 1vh;
  padding: 4px;
}

.age {
  display: flex;
  margin-bottom: 1vh;
}

.telephone-number input,
.facebook input,
.instagram input,
.age input,
.preferred-age input {
  width: 44vw;
  margin-left: 1vw;
  outline: none;
  border-radius: 5px;
  border: 2px solid #a9a9a9;
}

.facebook img,
.instagram img {
  height: 33px;
}

.age input:focus,
.preferred-age input:focus,
.telephone-number input:focus,
.facebook input:focus,
.instagram input:focus {
  border: 2px solid #c6ccff;
}

.preferred-age {
  background-color: #eee;
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.contactMethods {
  padding: 8px;
  padding-bottom: 0;
  margin-top: 5px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.contactMethods div {
  display: flex;
  align-items: center;
}

.telephone-number .title {
  padding-right: 8px;
  font-size: 23px;
}

.profileBio {
  height: 8vh;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  width: 95%;
  border: 2px solid darkgray;
  padding: 4px;
}

.profileBio:focus {
  border: 4px solid #c6ccff;
}

/* Gender buttons of user*/
.checkbox-wrapper,
.radio-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-wrapper label,
.radio-wrapper label {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-wrapper input,
.radio-wrapper input {
  display: none;
}

.checkbox-wrapper .info-button+label,
.radio-wrapper .info-button+label {
  display: inline-block;
  width: auto;
  background-color: #eee;
}

.looking-for,
.five-options,
.emailaddress {
  font-family: monospace;
}

.form-select {
  font-size: 2vh;
  width: 45vw;
  height: 3.5vh;
  border: 2px solid darkgray;
  border-radius: 4px;
  margin-bottom: 2vh;
}

/* Interest */
.interest {
  display: flex;
  flex-direction: column;
}

.interest-title-limit {
  display: flex;
  gap: 2vw;
  margin: 0 0 1vh 0;
}

.interest-list-my {
  height: 20vh;
  box-sizing: content-box;
  border: 2px solid #aca7a7;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7px;
  overflow: scroll;
}

.an-interest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-interest {
  display: inline-block;
  padding: 8px 16px;
  background-color: #cfd4ff70;
  border: 2px solid #aab3ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2vh;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
  background-color: #aab3ff;
  color: #fff;
}

.profile-sumbit {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.profile-message {
  margin: 0 0 1vh 0;
  font-size: 2.5vh;
}

.save-profile-button {
  border: 3px solid #aab3ff;
  border-radius: 7px;
  height: 6vh;
  font-size: 2.3vh;
  width: 100%;
  background-color: #fffbff;
  color: #444;
  font-weight: bold;
  cursor: pointer;
}

#email {
  display: flex;
  align-items: center;
}

.emailaddress {
  font-size: 2vh;
  margin-left: 2vw;
}

.gender-buttons {
  display: flex;
}

.user-setting-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  width: 21vw;
  height: 5vh;
  background-color: #aab3ff;
  border: 2px solid #cfd4ff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 1vw;
}

.user-setting-button {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 6px;
}

.change-password {
  width: 40vw;
  height: 4vh;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  cursor: pointer;
}

.delete-account {
  width: 100%;
  height: 6vh;
  border: 2px solid #aab3ff;
  border-radius: 7px;
  background-color: #9ea8f7;
  font-weight: bold;
  cursor: pointer;
}

.fa-solid {
  color: red;
}

.makeContentLighter {
  opacity: 0.2;
}

.popup-background {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 10vh;
  height: 100vh;
  width: 100vw;
  top: 0vw;
  position: absolute;
}

.popup-content {
  background-color: rgb(170, 179, 255);
  color: white;
  height: 65%;
  width: 77%;
  position: absolute;
  top: 15%;
  left: 6%;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  gap: 1vh;
}

.white-cross {
  position: absolute;
  width: 1.5vh;
  height: 2vh;
  top: 2vh;
  right: 5vw;
  cursor: pointer;
}

.password-row {
  padding: 2px;
  text-align: left;
  font-size: 2.5vh;
}

.password-field {
  display: flex;
  position: relative;
  padding-top: 1vh;
}

.password-input {
  height: 4vh;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

.password-input:focus {
  border: 3px solid gray;
}

#show-password {
  height: 3vh;
  width: 3vh;
  position: absolute;
  top: 13px;
  right: 4vw;
  border: transparent;
}

.save-password,
.confirm-delete-yes,
.confirm-delete-no {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  width: 36vw;
  height: 4vh;
  font-weight: bold;
  border: transparent;
  border-radius: 8px;
  font-size: 2vh;
  cursor: pointer;
}

/* Delete account */
.confirm-question {
  font-size: 3vh;
}

.confirm-delete-yes {
  left: 5vw;
}

.hide {
  display: none;
}
