@media (min-width: 320px) and (max-width: 480px) {
  .sticky-nav {
    height: 9vh;
    width: 100%;
    background-color: gray;
    bottom: 0;
    position: fixed;
  }

  .sticky-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .sticky-nav li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon {
    height: 30px;
    width: 30px;
    border-radius: 0;
    border: none;
    overflow: auto;
  }

  .icon-name {
    margin: 0;
  }
}
