@media (min-width: 320px) and (max-width: 480px) {
  body {
    position: relative;
  }

  .profile-page-container {
    height: 91vh;
    overflow-y: auto;
    padding: 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-page-container input,
  .form-select {
    height: 2.5vh;
    border: 2px solid darkgray;
    width: 97%;
  }

  .profile-top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .user-picture {
    height: 15vh;
    width: 15vh;
    border: 3px solid black;
  }

  .user-name {
    padding-top: 1vh;
  }

  .profile-main {
    /* overflow-y: auto; */
    text-align: left;
  }

  .category {
    background-color: gainsboro;
    border: 4px dotted floralwhite;
    border-radius: 21px;
    padding: 0 10px;
    margin: 2vh 0;
    gap: 1vh;
        display: flex;
          flex-direction: column;
          padding-bottom: 3vh;
  }

  /* .title {
    margin-bottom: 1vh;
  } */

  /* About me */
  .age {
    display: flex;
    align-items: center;
  }

  .age input {
    width: 10%;
    margin-left: 1vw;
  }

  /* Gender buttons of user*/
  .profile-button label {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }

  .info-button {
    display: none;
  }

  .info-button + label {
    display: inline-block;
    width: auto;
    height: 20px;
    background-color: #eee;
  }

  .info-button:checked + label {
    background-color: rgb(213, 80, 140);
    color: #fff;
  }

  .looking-for,
  .five-options,
  .emailaddress {
    font-family: monospace;
  }

  .form-select {
    font-size: 2vh;
    width: 99%;
    height: 3.5vh;
  }

  /* Preference */
  .preference .interest {
    display: flex;
    align-items: center;
  }

  .preference .interest p:first-child {
    padding-right: 3vw;
  }

  .profile-sumbit {
    display: flex;
    gap: 3px;
  }

  .save-profile-button {
    border: 1px solid gray;
    border-radius: 5px;
    height: 4vh;
    font-size: 2vh;
  }

  #email {
    display: flex;
    align-items: center;
  }

  .emailaddress {
    font-size: 2vh;
    margin-left: 2vw;
  }

  .user-setting-button {
    margin: 2vh 0;
    display: flex;
    gap: 2%;
  }

  .change-password, .delete-password {
    width: 48%;
    height: 4vh;
  }

  /* Change password */
  .makeContentLighter {
    opacity: 0.2;
  }

  .popup {
    position: absolute;
  }

  .popup-background {
    background-color: rgba(0, 0, 0, 0.4);
    top: 3vh;
    left: 6vw;
    height: 86vh;
    width: 88vw;
    border-radius: 32px;
    position: relative;
  }

  .popup-content {
    background-color: rgb(213, 80, 140);
    color: white;
    height: 50%;
    width: 77%;
    position: absolute;
    top: 140px;
    left: 5%;
    border-radius: 14px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    gap: 1vh;
  }

  .white-cross {
    position: absolute;
    width: 1.5vh;
    height: 2vh;
    top: 2vh;
    right: 5vw;
    border: transparent;
    border-radius: 1px;
  }

  .password-row {
    text-align: left;
    font-size: 2.5vh;
  }

  .password-field {
    display: flex;
    position: relative;
    padding-top: 1vh;
  }

  .password-input {
    height: 3vh;
    border-radius: 5px;
    border: 1px solid white;
  }

  #show-password {
    height: 3vh;
    width: 3vh;
    position: absolute;
    top: 11px;
    right: 2vw;
    border: transparent;
  }

  .save-password {
    position: absolute;
    right: 5vw;
    bottom: 6vh;
    width: 29vw;
    height: 3.5vh;
    font-weight: bold;
    border: transparent;
    border-radius: 8px;
    font-size: 2vh;
}
}

